.App {
  text-align: center;
  padding: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1b2ad1;
  text-decoration: none;
  border: 1px solid gray;
  padding: 10px;
  font-weight: 600;
  border-radius: 50px;
  margin: 10px;
}
.App-link:hover {
  color: #fff;
  background-color: #1b2ad1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input {
  padding: 10px;
  border-radius: 50px;
  width: 300px;
  font-size: 16px;
  margin: 5px;
}
.input-submit {
  color: #1b2ad1;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid gray;
  padding: 10px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  min-width: 250px;
  margin: 10px;
}
.input-submit:hover {
  color: #fff;
  background-color: #1b2ad1;
}
.OR {
  font-weight: 600;
  color: #1b2ad1;
}
/* @keyframes App-link {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-link {
    animation: App-link infinite 10s linear;
  }
} */
